agent:
  # ---------- AUTH  ----------
  # !!! This helm chart provides two way for passing the personal access token. PLEASE fill only 'pat' or 'patSecret'.
  # 1st way: Personal access token could be passed with 'pat' field.
  pat: ""

  # 2nd way: If a secret that contains personal access token exists in kubernetes, its name and key could be passed with following fields.
  patSecret: ""
  patSecretKey: "pat"
  # ---------- AUTH  ----------

  # Server / organization url, e.g.: https://dev.azure.com/your-organization-name
  organizationUrl: ""

  # Agent pool name which the build agent is placed into
  pool: "Default"

  # Working directory of agent
  workingDirectory: "_work"

  # Additional environment variables, if you need
  extraEnv: {}
    # ENVNAME: "VALUE"

nameOverride: ""
fullnameOverride: ""
replicaCount: 1

image:
  # registry: docker.io
  repository: btungut/azure-devops-agent
  pullPolicy: IfNotPresent
  tag: "4.251.0-stable-v2.2.0"
  pullSecrets: []

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

volumes: []
  # - name: dockersock
  #   hostPath:
  #     path: /var/run/docker.sock
volumeMounts: []
  # - name: dockersock
  #   mountPath: "/var/run/docker.sock"

serviceAccount:
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}

# sideContainers is a list of containers that should run alongside the main container(s).
sideContainers:
  # - name: sidecar
  #   image: busybox:latest
  #   command: ["sleep", "infinity"]
  #   securityContext:
  #     privileged: true
  #   env:
  #     - name: POD_NAME
  #       valueFrom:
  #         fieldRef:
  #           fieldPath: metadata.name
  #     - name: POD_UID
  #       valueFrom:
  #         fieldRef:
  #           fieldPath: metadata.uid


nodeSelector: {}
tolerations: []
affinity: {}
podLabels: {}
podAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
securityContext: {}
